#VSCode settings
.vscode/

#R
.Rhistory
.RData
.Rproj.user/
.Rproj

#Conda/Mamba environment files
*.lock
*.conda
*.tar.bz2

#Python cache
__pycache__/
*.pyc

#macOS metadata
.DS_Store

#temp or local config files
*.tmp

